.u-section-1 .u-sheet-1 {
  min-height: 407px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 50px;
  margin: 194px 985px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 785px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 385px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 185px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3880px;
}

.u-section-2 .u-text-1 {
  margin: -151px 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}